html {
    scroll-behavior: smooth;
}

.header {
    width: 100%;
}

.header_ {
    max-width: 1300px;
    height: 5rem;
    margin: 0 auto;
}

.nav-elem {
    text-decoration: none;
    color: black;
}

.navbar-nav {
    list-style-type: none;
    list-style: none;
    gap: 1rem;
    display: inline-flex;
    margin-top: 2rem;
    margin-right: 2rem;
    float: right;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
}

.navbar-nav a:visited {
    color: black;
}

.navbar-nav a:hover {
    color: #52bad5;
}

.header-social {
    float: right;
    margin-left: 0rem;
    list-style-type: none;
    list-style: none;
}

.banner {
    width: 100%;
    background-color: #f5f0f0;
    padding-top: 3rem;
    padding-bottom: 3rem
}

.banner_ {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    gap: none;
    max-width: 1300px;
    margin: 0 auto;
}

.banner_content {
    width: 100%;
    padding-top: 4rem;
}

.banner_content h1 {
    font-family: sans-serif;
    font-size: 1.2rem;
    margin-left: .5rem;
    margin-bottom: -2rem;
    color: #636375;
}

#banner-content {
    font-family: sans-serif;
    color: #343745;
    font-weight: 800;
    line-height: 1.2;
    font-size: 2.9rem;
}

.banner_img {
    max-width: 50%;
}

.main-body {
    width: 30%;
}

.side-bars {
    position: absolute;
    text-align: left;
    list-style-type: none;
    list-style: circle;
    font-family: sans-serif;
    font-weight: 600;
    color: black;
}

.side-bars a:visited {
    color: black;
}

.side-bars a:hover {
    color: #52bad5;
}

button {
    border: 1px solid black;
    background-color: hsl(0, 0%, 97%);
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 90%));
    font-weight: 600;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin: 2px 2px;
    border-collapse: collapse;
    border-radius: 0.5rem;
    outline: none;
}

table,
th,
td {
    font-weight: 600;
    border: none;
    padding: 1px 1px;
}


/* #btn1 {background-color: #4CAF50;} Green */

.container {
    padding-top: 5rem;
    max-width: 1300px;
    text-align: center;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.button_ {
    width: 9.5%;
    background-color: hsl(0, 0%, 97%);
    background-image: linear-gradient(to bottom, hsl(0, 0%, 98%), hsl(0, 0%, 90%));
}

#result, #result_2 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
}


/* Footer */


/* 
.content{
height: 150px;
background-color: #1CC6CD;
}
.footer_{
height: 150px;
background-color: #1CC6CD;
max-width: 1300px;
margin: 0 auto;
}
.footer_ img{
    position: absolute;
    left: 5%;
}

.features {
    display: grid;
    background-color: red;
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    gap: 2em;
}
.background-footer {
    margin: 0px;
    background-color: #1CC6CD;
    background-image: url(/img/footer-2.svg);
    height: 85px;
}

 */


/* FOOTER CSS */

#footer {
    background-color: #1CC6CD;
    color: white;
    position: absolute;
    width: 100%;
}

#_foot {
    max-width: 1300px;
    margin: 0 auto;
    /* text-align: center; */
}

.logo-footer {
    position: absolute;
    height: 80px;
    margin-top: 15px;
}

#footer hr {
    margin-top: 100px;
    max-width: 1300px;
}

#footer ul li h3 {
    margin: 10px 0 20px;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-self: start;
    padding: 15px;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-content a {
    text-decoration: none !important;
    color: white;
    display: inline-block;
    margin-bottom: 15px;
}

.footer-content a:hover {
    color: rgba(255, 255, 255, 0.9)
}

.col-1 {
    flex: 0 0 calc(50% - 20px) !important;
    max-width: calc(50% - 20px) !important;
    padding: 0 !important;
    margin-right: 20px;
}

.col-2 {
    flex: 0 0 calc(30% - 20px) !important;
    max-width: calc(30% - 20px) !important;
    padding: 0 !important;
    margin-right: 20px;
}

#footer>div.footer-content>div.col-2>ul>li:nth-child(1)>a {
    color: #007aff;
    font-weight: bold;
}

.post-for-free {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-left: -10px;
}

.post-for-free:hover,
#footer>div.footer-content>div.col-2>ul>li:nth-child(1)>a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}


/* 
.col-3 {
    flex: 0 0 calc(25% - 20px) !important;
    max-width: calc(25% - 20px) !important;
    padding: 0 !important;
    margin-right: 20px;
} */

#footer>div.footer-content>div.col-1>ul>li:nth-child(6)>a {
    opacity: 0.6;
}

.col-4 {
    flex: 0 0 calc(20% - 20px) !important;
    max-width: calc(20% - 20px) !important;
    padding: 0 !important;
    font-size: 30px;
}

.col-4 h3 {
    font-size: 1.17rem;
}

.background-footer {
    background-image: url(/img/footer-2.svg);
    height: 85px;
}

.app-link {
    height: 70px;
    position: absolute;
    margin-top: -15px;
    margin-left: -15px;
}

#ins {
    border-radius: 5px;
    padding: 18px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

#ins:hover {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    cursor: pointer;
}

#fb {
    border-radius: 5px;
    padding: 18px 24px;
    background-color: rgba(0, 0, 0, 0.3);
}

#fb:hover {
    background-color: #3B5998;
    cursor: pointer;
}

#tw {
    border-radius: 5px;
    padding: 18px 18.3px;
    background-color: rgba(0, 0, 0, 0.3);
}

#tw:hover {
    color: white;
    background-color: #08a0e9;
    cursor: pointer;
}

#yt {
    border-radius: 5px;
    padding: 18px 16.5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#yt:hover {
    color: #E62117;
    background-color: white;
    cursor: pointer;
}

#gg {
    border-radius: 5px;
    padding: 18px 18.5px;
    background-color: rgba(0, 0, 0, 0.3);
}

#gg:hover {
    background-color: #DB4437;
    cursor: pointer;
}

#lin {
    border-radius: 5px;
    padding: 18px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

#lin:hover {
    background-color: #0e76a8;
    cursor: pointer;
}

.cell {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    height: 20px;
    width: 20px;
    background-color: grey;
}

#biggest_rects > li:nth-child(1) > div{
    margin: 0 auto;
    text-align:  center;
}
